<div style="background-color: lightgreen; padding: 18px;">
    <h1> Aula 1 | Lógica de Programação II
</div>

<div style="background-color: lightblue; padding: 10px;">
    <h2> Tópicos da aula 1
</div>

- Revisão
- Tuplas

In [ ]:
#Tipos variáveis
int
float
bool
str
list

In [ ]:
#Descobrindo o tipo: type()

In [3]:
idade = 23
print(type(idade))
idade = '23'
print(type(idade))
idade = True
print(type(idade))
idade = 23.7
print(type(idade))
idade = [23]
print(type(idade))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'list'>

In [ ]:
#Operadores aritméticos
x + y
x - y
x * y
x / y
x // y
x % y
x ** y

In [13]:
#Operadores lógicos
teste and sentinela 
teste or sentinela 
not teste

8

In [15]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [17]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [20]:
print(not True)
print(not False)

False
True

In [23]:
#Márcia
5 and 'Banana'

'Banana'

In [264]:
'Banana' and 5

5

In [265]:
'Banana' or 5, 5 or 'Banana'

('Banana', 5)

In [26]:
#Truthy/Falsy
#int
idade = 0

if idade:
    print("Sou verdadeiro!")
else:
    print("Sou falso!")

Sou falso!

In [28]:
#float
idade = 0.0

if idade:
    print("Sou verdadeiro!")
else:
    print("Sou falso!")

Sou falso!

In [30]:
#bool
teste = False

if teste:
    print("Sou verdadeiro!")
else:
    print("Sou falso!")

Sou falso!

In [34]:
#string
nome = ''

if nome:
    print("Sou verdadeiro!")
else:
    print("Sou falso!")

Sou falso!

In [35]:
0 and 'casa'

0

In [37]:
bool(1 and 'casa')

True

In [43]:
#Recebendo conteúdo do teclado
idade = input("Idade: ")
idade

Idade: 23

'23'

In [42]:
#Coerção de tipos (casting)
idade = int(idade)
idade, type(idade)

(23, int)

In [44]:
idade = input("Idade: ")
idade

Idade: 23.5

'23.5'

In [45]:
int(idade)

ValueError: invalid literal for int() with base 10: '23.5'

In [50]:
#Arredondamento: round
round(12.5), round(11.5)

(12, 12)

In [52]:
12.5 + 11.5

24.0

In [ ]:
#Impactos provocados por arredondamento (exemplos da turma):
# Petrobras (liberação de navios)
# Indústria fundição de alumínio
# Caixas de supermercado (trocos em geral)

In [56]:
idade = round(float(idade))
idade

24

In [64]:
#17 casas decimais
num = 0.12345678901234567890123456
num

0.12345678901234568

In [69]:
#if elif else
idade = int(input('Idade: '))

if idade <= 12:
    print('Criança.')
elif idade < 18:
    print('Adolescente.')
else:
    print('Adulto.')

Idade: 12.3

ValueError: invalid literal for int() with base 10: '12.3'

In [70]:
#Lista
lista = [12, '12', True, 3.14, ['Santos', 'Série B']]

In [71]:
#Acessando elementos de uma lista: índice
lista[0] #primeiro elemento

12

In [72]:
lista[5]

IndexError: list index out of range

In [75]:
#Índice negativo
lista[-1], lista[-2], lista[-5]

(['Santos', 'Série B'], 3.14, 12)

In [76]:
lista[-6]

IndexError: list index out of range

In [77]:
lista

[12, '12', True, 3.14, ['Santos', 'Série B']]

In [78]:
#Slicing --> fatiamento de lista -->lista[start:stop+1]
lista[1:4]

['12', True, 3.14]

In [81]:
lista[2:]

[True, 3.14, ['Santos', 'Série B']]

In [82]:
lista[:3]

[12, '12', True]

In [83]:
lista[:]

[12, '12', True, 3.14, ['Santos', 'Série B']]

In [86]:
#lista[start:stop:step]
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numeros[::2], numeros[1::2]

([0, 2, 4, 6, 8], [1, 3, 5, 7, 9])

In [89]:
a = 1
b = 4

numeros[a:a+b]

[1, 2, 3, 4]

In [107]:
numeros[-1:-5:-1]

[9, 8, 7, 6]

In [109]:
numeros[6::-1]

[6, 5, 4, 3, 2, 1, 0]

In [122]:
numeros[5:-1:-1]

[]

In [143]:
numeros[slice(9,3,-1)]

[9, 8, 7, 6, 5, 4]

In [152]:
numeros[slice(-1)]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [149]:
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [154]:
#Laços
for i in range(1,9,2):
    print(i)

1
3
5
7

In [161]:
    for i in range(10):
        print(numeros[i], end=' ')

0 1 2 3 4 5 6 7 8 9

In [162]:
print(print(''))

None

In [165]:
str_num = ''
for i in range(10):
    str_num += str(i)
    print(numeros[i], end='')
print(" "+str_num)

0123456789 0123456789

In [166]:
3 + 5

8

In [167]:
3.1 + 4

7.1

In [168]:
[1, 2] + [3]

[1, 2, 3]

In [171]:
"casa " + "da " + "operação"

'casa da operação'

In [177]:
for elem in numeros:
    print(2 * elem, end=' ')

0 2 4 6 8 10 12 14 16 18

In [178]:
for char in "minha string":
    print(char, end=' ')

m i n h a   s t r i n g

In [184]:
texto = "minha string"
texto[3]

'h'

In [186]:
numeros[3], texto[3]

(3, 'h')

In [188]:
numeros[3] = 12
numeros

[0, 1, 2, 12, 4, 5, 6, 7, 8, 9]

In [191]:
texto[3] = 'H'

TypeError: 'str' object does not support item assignment

In [203]:
#Tuplas: tuple()
dados = (2, 4, 7, 4)
dados

(2, 4, 7, 4)

In [204]:
type(dados)

tuple

In [205]:
dados[0]

2

In [206]:
for elem in dados:
    print(elem)

2
4
7
4

In [209]:
dados.count(4)

2

In [214]:
dados.index(4)

1

In [215]:
dados.index(5)

ValueError: tuple.index(x): x not in tuple

In [228]:
# Unpacking --> desempacotar
a, b, _, d = dados
print(a, b, c, d)

2 4 7 4

In [231]:
_, _, c, _ =  dados

In [220]:
#Tentando desempacotar em menos variáveis
a, b, c = dados
print(a, b, c, d )

ValueError: too many values to unpack (expected 3)

In [223]:
#Tentando desempacotar em mais variáveis
a, b, c, d, e = dados
#print(a, b, c, d )

ValueError: not enough values to unpack (expected 5, got 4)

In [227]:
#Desempacotando sem armazenar em variável
a, b, _, _ = dados
print(a, b)

2 4

In [252]:
nomes = ['Mateus', 'Lorena', 'Jadson', 'Chen']
nome_do_meio = ['Oliveira','','Martins','','Sousa']
sobrenomes = ["Falcão", "Bastos", "Barros", "Yen", "Perfe"]

In [233]:
print('Eu "estudei" no fim de semana')

Eu "estudei" no fim de semana

In [235]:
tam = len(nomes)
for i in range(tam):
    print(nomes[i],sobrenomes[i])

Mateus Falcão
Lorena Bastos
Jadson Barros
Chen Yen

In [255]:
#zip 
for nome, do_meio, sobrenome in zip(nomes, nome_do_meio, sobrenomes):
    print(nome, do_meio, sobrenome)

Mateus Oliveira Falcão
Lorena  Bastos
Jadson Martins Barros
Chen  Yen

In [243]:
nomes

['Mateus', 'Lorena', 'Jadson', 'Chen']

In [244]:
for nome in nomes:
    print(nome)

Mateus
Lorena
Jadson
Chen

In [250]:
for sobrenome in sobrenomes:
    print(sobrenome)

Falcão
Bastos
Barros
Yen
Perfe