# Aula 4: Que começe a prática!

download e instala:
https://www.postgresql.org/download/windows/

a instalação é next next

pesquisa "psql"
server, database, port, username padrões e a senha que coloquei agora a pouco.

e pronto, estamos conectados no banco.

o gerenciador para mexermos será o pgAdmin, basta ppesquisar. Abrindo você coloca uma senha.

seleciona seu server. Database > postgress > tools > query tools

### **Introdução a Linguagem SQL**

---

Structured Query Language ou SQL é a linguagem mais conhecida do mundo e também a mais popular. É utilizada para executar comandos em Banco de Dados Relacionais, isto é, baseado em tabelas.
É por meio dela que criamos databases, tabelas, colunas, indices, garantimos e revogamos privilégios a usuários e consultamos os dados armazenados no banco de dados.

SQL é uma linguagem declarativa dividida em conjuntos de comandos

- **Data Definition Language (DDL)**;
- **Data Manipulation Language (DML)**;
- **Data Control Language (DCL)**;
- **Transactional Control Language (TCL)**;
- **Data Query Language (DQL)**.

---

### **DDL**

---

Linguagem de Definição de Dados ou DDL são comandos que permitem ao usuário definir as novas tabelas e os elementos que serão associados a elas. É responsável pelos comandos de criação e alteração no banco de dados

Os principais comandos DDL são:

**CREATE**


Comando utilizado para criar a estrutura dos dados e tabelas.

In [ ]:
"""

CREATE TABLE schema.tb_produtos (
  id            serial,
  nome_produto  varchar(40),
  valor_produto numeric(16,2),
  data_compra   date
);

"""

**ALTER**

Comando utilizado para adicionar, excluir ou modificar as colunas de uma tabela existente.

In [ ]:
"""

ALTER TABLE tb_produtos ADD nome_fabricante varchar(50);

"""

**DROP**

Comando utilizado para excluir estrutura de tabelas.

In [ ]:
"""

DROP TABLE tb_produtos;

"""

### CRUD = CREATE READ UPDATE DELETE

- As quatro operações básicas do desenvolvimento de uma aplicação;

---

### **DML**

---

**Linguagem de Manipulação de Dados** ou **DML** são comandos utilizados para a recuperação, inclusão, remoção e modificação de informações em bancos de dados.

Os principais comandos DML são:

**INSERT**

Comando utilizado para inserção de registros no banco de dados.

In [ ]:
"""

INSERT INTO tb_cidades(nome,id_estado) VALUES ('São Thomé das Letras', '1');

"""

**UPDATE**

Comando utilizado para alteração de registro no banco de dados.

In [ ]:
"""

UPDATE tb_cidades SET id_estado = 11 WHERE nome = 'São Thomé das Letras';

"""

**DELETE**

Comando utilizado para excluir registro no banco de dados.

In [ ]:
"""

DELETE FROM tb_cidades WHERE nome = 'São Thomé das Letras';

"""

---

### **DCL**

---

Linguagem de Controle de Dados ou DCL são comandos utilizados para controlar o acesso e gerenciar permissões de usuários no banco de dados.

Os principais comandos DCL são:

**GRANT**

Comando utilizado para atribuir privilégios de acesso do usuário a objetos do banco de dados.

In [ ]:
"""

CREATE USER aluno WITH PASSWORD 'aluno';

GRANT CONNECT ON DATABASE bd_cidades_estados TO aluno;

GRANT SELECT, DELETE ON ALL TABLES IN SCHEMA public TO aluno;

"""

**REVOKE**

Comando utilizado para revogar privilégios de acesso do usuário a objetos do banco de dados.

In [ ]:
"""

REVOKE ALL
ON tb_cidades
FROM aluno;

"""

---

### **TCL**

---

Linguagem de Controle de Transações ou TCL são comandos utilizados para gerenciar as mudanças feitas por instruções DML.

Os principais comandos TCL são:

**COMMIT**

Comando utilizado para salvar uma transação.

In [ ]:
"""

BEGIN
INSERT INTO tb_cidades(nome,idEstado) VALUES ('São Thomé das Letras','1');
COMMIT

"""

"\n\nBEGIN\nINSERT INTO tb_cidades(nome,idEstado) VALUES ('São Thomé das Letras','1');\nCOMMIT\n\n"

**ROLLBACK**

Comando utilizado para restaurar o banco de dados ao estado anterior desde o último COMMIT.

In [ ]:
"""
BEGIN
DELETE FROM tb_cidades WHERE nome = 'São Thomé das Letras';
ROLLBACK;

"""

---

### **DQL**

---

Linguagem de Consulta de Dados ou DQL utiliza-se do comando SELECT para consulta dos dados.

In [ ]:
"""

SELECT * FROM tb_cidades;

"""

Limitar o número de linhas extraídas na consulta dos dados:

In [ ]:
"""

SELECT * FROM tb_cidades
LIMIT 2;

"""

Filtrar as colunas na consulta dos dados:

In [ ]:
"""

SELECT uf, nome FROM tb_cidades;

"""

Renomear as colunas na consulta dos dados:

In [ ]:
"""

SELECT uf AS UnidadeFederativa,
       nome AS NomeCidade
FROM tb_cidades as cd;

"""

Ordenar o retorno dos dados na consulta:

In [ ]:
"""

SELECT nome
FROM tb_cidades
ORDER BY updated_at DESC;

"""

Retornar os dados distintos de uma tabela:

In [ ]:
"""

SELECT DISTINCT uf
FROM tb_estados;

"""

Listar todos os dados que se enquadrem em uma determinada condição:

In [ ]:
"""

SELECT * FROM tb_cidades
WHERE nome = 'Sao Paulo';

"""

Coleta todos os emails que terminam ou começam com '@ada.com'

In [ ]:
"""

SELECT * FROM alunos
WHERE email LIKE '%@ada.com%';

"""

Listar todos os dados que se enquadrem em duas condições:

In [ ]:
"""

SELECT *
FROM tb_cidades
WHERE nome = 'Sao Paulo' AND
uf = 'SP';

"""

Algumas filtragens:

- Retornar tudo que começa com 'D' -> LIKE 'D%'
- Retornar tudo que termina com 'D' -> LIKE '%D'
- Retornar tudo que começa ou termina com 'D' -> LIKE '%D%'
- Retornar 'Diego' ou 'Diogo' -> LIKE 'Di_go'